           <!--                          <tr>
                                        <th colspan="2">Ticket ID</th>
                                        <th colspan="2">Time Waiting</th>
                                        <th colspan="1">Priority</th>
                                        <th colspan="2">Assignee</th>
                                        <th colspan="5">Description</th>
                                    </tr>
                                </thead>
                                <tbody class="trows">
                                    <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                                        <td>1</td>
                                        <td>05 May 2013</td>
                                        <td>Credit Account</td>
                                        <td class="text-success">$150.00</td>
                                        <td class="text-error"></td>
                                        <td class="text-success">$150.00</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="hiddenRow"><div class="accordian-body collapse" id="demo1"> Demo1 </div> </td>
                                    </tr>
                                    <tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
                                        <td>2</td>
                                        <td>05 May 2013</td>
                                        <td>Credit Account</td>
                                        <td class="text-success">$11.00</td>
                                        <td class="text-error"></td>
                                        <td class="text-success">$161.00</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="hiddenRow"><div id="demo2" class="accordian-body collapse">Demo2</div></td>
                                    </tr>
                                    <tr data-toggle="collapse" data-target="#demo3" class="accordion-toggle">
                                        <td>3</td>
                                        <td>05 May 2013</td>
                                        <td>Credit Account</td>
                                        <td class="text-success">$500.00</td>
                                        <td class="text-error"></td>
                                        <td class="text-success">$661.00</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6"  class="hiddenRow"><div id="demo3" class="accordian-body collapse">Demo3</div></td>
                                    </tr> -->